.item__detail__container {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffdc85;
  width: 700px;
  height: 450px;
  margin-top: 20px;
  box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 27px -6px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.item--img__container {
  display: flex;
  justify-content: center;
}

.item--img {
  height: 80%;
  object-fit: cover;
  transition: 1s ease-in;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.titulo {
  font-size: 26px;
  font-weight: bolder;
  margin-top: 10px;
}

.autor {
  font-size: 18px;
  color: grey;
}

.precio {
  font-size: 30px;
  font-weight: bolder;
}

.item--cart__button {
  color: #f3f7f0;
  background-color: #3f0d12;
  transition: 1s ease-in;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 1.025rem;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .item__detail__container {
    max-width: 80%;
    justify-content: center;
    align-items: center;
  }
  .item--img {
    max-width: 80%;
    object-fit: scale-down;
    transition: 1s ease-in;
  }

  .titulo {
    font-size: 22px;
    font-weight: bolder;
  }

  .autor {
    font-size: 16px;
    color: grey;
  }

  .precio {
    font-size: 24px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 500px) {
  .item__detail__container {
    flex-direction: column-reverse;
    height: 680px;
  }
  .item--img {
    max-width: 100%;
    object-fit: cover;
    transition: 1s ease-in;
  }

  .info__container {
    gap: none;
    justify-content: space-around;
  }
}
