.cart-container {
  width: 50%;
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-auto-rows: 150px;
  justify-self: center;
}

.grid--img {
  height: 100%;
}

.grid--item {
  align-self: center;
}

.header {
  grid-template-rows: 50px;
  border-bottom: solid rgb(163, 163, 163) 2pt;
  border-top: solid rgb(163, 163, 163) 2pt;
}

.center {
  justify-self: center;
}

.cart-footer {
  width: 50%;
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-auto-rows: 50px;
  border: solid;
}
