.up__down {
  border: none;
  background: transparent;
  font-size: 18px;
}

.item__count__container {
  border: 1px solid #3f0d12;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 3px;
}

.counter {
  background-color: transparent;
  padding: 2px;
}
