.contacto {
  display: fixed;
  flex-direction: column;
  align-items: center;
  background-color: #3f0d12;
  color: #f3f7f0;
  padding: 20px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
p {
  padding: 5px;
}

.contacto em {
  padding: 20px;
  font-size: 34px;
}
