.category__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li {
  width: 120px;
}

a:hover {
  opacity: 50%;
}

.active-link {
  background-color: #d5bf86;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  a {
    font-size: 16px;
  }
  li {
    width: 90px;
  }
}

@media screen and (max-width: 800px) {
  ul {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .category__list {
    flex-direction: column;
    margin-bottom: 10px;
    gap: 1.5rem;
    li {
      width: 200px;
    }
  }
}
